section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 20vw;
    padding-block: 2rem;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    transition: all .4s;
}

section.about:hover {
    box-shadow: inset 0 0 10px var(--color-primary), 0 0 10px var(--color-primary);
}

.about-container {
    display: flex;
    padding-block: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;text-align: center;
    width: 50%;
}

.about-info span {
    color: var(--text-color);
}

.fa-location-dot {
    color: var(--color-danger);
}

.btn-about {
    display: flex;
    gap: 1.5rem;
}

.btn-about .btn {
    max-width: 100vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 2px 2px 0 var(--color-primary);
    border-radius: 15px;
    transition: all .4s;
    background: linear-gradient(to left, var(--bg-color-primary), var(--bg-color-second));
}

.btn-about .btn:hover {
    opacity: .9;
    box-shadow: 4px 4px 0 var(--color-primary);
}

.btn-about .btn p {
    font-size: 14pt;
}

@media (max-width: 768px) {

    section.about {
        margin-inline: 10vw;
        box-shadow: inset 0 0 10px var(--color-primary), 0 0 10px var(--color-primary);
    }

    .about-container {
        flex-direction: column;
        width: auto;
        gap: 2rem;
    }

    .about-container h1 {
        padding-inline: .5rem;
    }

    .about-info {
        padding: 1rem;
        width: auto;
    }

    .about-info p {
        text-align: left;
    }
}