header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    height: 8vh;
    background-color: var(--bg-color-primary);
}

.title-nav a {
    text-decoration: none;
}

.nav {
    display: flex;
    height: 8vh;
    justify-content: space-around;
    align-items: center;

}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    transition: .3s;
}

.nav-link:hover {
    opacity: .5;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--text-color);
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--text-color);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 768px) {
    header {
        top: auto;
        bottom: 0;
        z-index: 3;
    }

    .nav-list {
        position: absolute;
        border-top-left-radius: 15px;
        bottom: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--bg-color-primary);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: transform .3s ease-in;
    }

    .hamburger {
        display: block;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .nav.active .nav-list li {
        opacity: 1;
    }

    .nav.active .nav-list li:nth-child(1) {
        transition: 0.5s 0.2s;
    }

    .nav.active .nav-list li:nth-child(2) {
        transition: 0.5s 0.4s;
    }

    .nav.active .nav-list li:nth-child(3) {
        transition: 0.5s 0.6s;
    }

    .nav.active .nav-list li:nth-child(4) {
        transition: 0.5s 0.6s;
    }
    .nav.active .nav-list {
        transform: translateX(0);
    }
}

.nav.active .hamburger {
    border-top-color: transparent;
}

.nav.active .hamburger::before {
    transform: rotate(135deg);
}

.nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

.toggleTheme {
    border: 0;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.toggleTheme i {
    color: var(--text-color);
    opacity: .5;
}