section.projects {
    padding-top: 10vh;
}

body.blur::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vh;
    background-color: var(--bg-color-transparent);
    backdrop-filter: blur(3px);
    z-index: 0;
}

.cards {
    position: inherit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-block: 4rem;
}

.projects h1 {
    display: inline-block;
}

.card {
    position: relative;
    max-width: 30%;
    transition: .4s;
}

.card:hover {
    transform: scale(1.3);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0 15px var(--color-second);
    cursor: pointer;
    z-index: 1;
}

.card:hover .cover img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.details {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.details h3 {
    color: var(--color-light) !important;
}

.card:hover .details {
    display: none;
}

.cover {
    position: relative;
}

.cover::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-color-transparent);
}

.card:hover .cover::before {
    background: none;
}

.cover::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: .3rem;
    bottom: .1rem;
    background: linear-gradient(to right, #17a2b8, #9ecad1);
}

.description {
    display: none;
}

.card:hover .description {
    display: flex;
    position: absolute;
    width: calc(100% - 1rem);
    box-shadow: 0 0 15px var(--color-second);
    background-color: var(--bg-color-second);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.btn-view-more {
    background-color: var(--bg-color-primary);
    border: 2px solid var(--color-primary);
    padding: .2rem;
    color: var(--text-color);
    border-radius: .5rem;
    transition: all .4s;
    cursor: pointer;
    opacity: .8;
}

.btn-view-more:hover {
    opacity: 1;
}

.modal-project {
    display: none;
    position: fixed;
    width: 75vw;
    top: 50%;
    left: 50%;
    border-radius: 35px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color-second);
}

.modal-project.visible {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;
}

.project {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.project-img {
    display: flex;
    flex: 1;
    border-radius: 15px;
}

.project-infos {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
}

.project-infos span {
    color: var(--color-primary);
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.project-links {
    display: flex;
    justify-content: space-between;
}

.project-links .p-link {
    text-decoration: none;
    font-size: large;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    outline: unset;
    align-items: center;
    color: var(--text-color);
    padding: .7rem;
    opacity: .9;
    transition: all .4s;
}

.project-links .p-link:hover {
    opacity: 1;
}

.project-links .p-link i {
    transition: .8s ease;
}

.project-links .p-link:hover i {
    transform: scale(1.5);
}

.project-links .p-link.disabled {
    opacity: .5;
    pointer-events: none;
}

.project-links .close {
    background-color: var(--color-danger);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.project-links .website {
    background-color: var(--color-primary);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.project-links .github {
    background-color: var(--bg-color-primary);
}

.icons {
    display: flex;
    margin-block: .2rem;
    gap: .5rem;
}

.icons i {
    color: var(--text-color);
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
        min-width: 30%;
    }

    .card:hover {
        transform: scale(1.1) !important;
    }

    .project {
        flex-direction: column;
    }

    .project-img {
        max-height: calc(100vw/2);
    }

    .project-infos {
        gap: 2rem;
    }
}
