footer {
    background-color: var(--bg-color-primary);
    display: flex;
    padding-block: 1.8rem;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
}

footer a {
    opacity: .7;
}

@media (max-width: 768px) {
    footer{
        margin-bottom: 8vh;
        padding-inline: 10vw;
    }
}