.intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.text-intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50vw;
}

.photo-name {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50vw;
}

.name-rotate {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    gap: .7rem;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}

.name-rotate h3 {
    color: var(--color-primary);
}

.photo-name img {
    border-radius: 25%;
    width: 520px;
    height: auto;
    box-shadow: 0px 0px 20px 5px var(--bg-color-second);
}

.btn-presentation {
    display: flex;
    gap: 1.5rem;
}

.btn-presentation .btn {
    max-width: 100vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 2px 2px 0 var(--color-primary);
    border-radius: 15px;
    transition: all .4s;
    background: linear-gradient(to right, var(--bg-constrast), var(--bg-color-second));
}

.btn-presentation .btn:hover {
    opacity: .9;
    box-shadow: 4px 4px 0 var(--color-primary);
}

.btn-presentation .btn p {
    font-size: 14pt;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.social {
    display: flex;
    margin-block: 2rem;
    gap: 1rem;
}

.social abbr a {
    color: var(--text-color);
    font-size: 24pt;
    padding: 1.4rem;
    opacity: .5;
    border-radius: 50%;
    transition: all .4s;
}

.social a:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    section.presentation {
        padding-inline: 0;
    }

    .intro {
        flex-direction: column;
    }

    .photo-name, .text-intro{
        width: 75vw;
    }

    .photo-name {
        flex-direction: column;
    }

    .name-rotate {
        transform: rotate(0);
        writing-mode: unset;
    }
    
}
